@import '../styles/global';

.main-area{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;

}

.resume{
    background-color: $color-pallete-2;
    color: white;
    font-weight: bold;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.resume:hover{
    background-color: $color-pallete-1;
}

.my-picture{
    width: 25vw;
}