@import '../styles/global';


.page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fields {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 5vh;
        label{
            font-size: larger;
            margin-bottom: 1vh;
            color: $color-pallete-1;
        }

        .half{
            display: flex;
            flex-direction: column;
            input{
                border: 1px solid $color-pallete-1;
                height: 2.5vh;
                width: 90%;
                border-radius: 5px;
            }
            p{
                color: $color-pallete-1;
                font-weight: lighter;
            }
        }

        .messages{
            display: flex;
            flex-direction: column;
            width: 100%;

            textarea{
                height: 10vh;
                border: 1px solid $color-pallete-1;
                border-radius: 5px;
            }
        }

        .actions{
            width: 100%;
            list-style: none;
            padding-left: 0;
            display: flex;

            .reset{
                margin-left: 3vw;
            }

            li input{
                background-color: $color-pallete-2;
                color: white;
                font-weight: bold;
                padding: 1vh;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }

            li input:hover{
                background-color: $color-pallete-1;
            }
        }

    }
}