@import '../styles/global';

.main-area{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .info{
        margin-left: 3vw;
        width: 50%;
    }

}

.my-picture{
    width: 30vw;
    
}
@media screen and (max-width: 1220px) and (min-width: 768px) {
    .main-area{
            .info{
            width: 50%;
        }
    }
    .my-picture{
        width: 33vw;
    }
}

@media screen and (max-width: 600px) {
    .main-area{
        width: 100%;
        flex-direction: column;
        align-items: center;

        .paragraph, .hey{
            width: 90%;
            margin-left: 5%;
        }
    }
}
@media screen and (max-width: 768px) {
    .main-area{
        width: 100%;
        flex-direction: column;
        align-items: center;
        
        .info{
            margin-top: 5vh;
            width: 100%;
        }
        .hey{
            font-size: larger;
        }
        .paragraph{
            font-size: large;
        }
        .paragraph,.hey{
            width: 90%;
            margin-left: 5%;
            color: $color-pallete-1;
        }
        .my-picture{
            width: 70vw;
        }
    }
}