@import '../styles/global';

.resume{
    background-color: $color-pallete-2;
    color: white;
    font-weight: bold;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.resume:hover{
    background-color: $color-pallete-1;
}
.hide{
    display: none;
}
.title{
    font-size: 30px;
    padding-bottom: 1vh;
    border-bottom: 1px solid $color-pallete-1;
    color: $color-pallete-1;
}

.company{
    display: flex;
    
    .subtitle{
    margin: 1vh 0 1vh 5%;
    }

    .city{
        font-weight: lighter;
        margin: 1vh 0;
    }
}

.position{
    margin: 0 0 1vh 8%;
    font-style: italic;
}
.project{
    margin: 0 0 1vh 6%;
    
}

.list {
    margin: 0;
    list-style-type:'- ';

    li{
        margin-bottom: .5vh;
    }
}
