@import '../styles/global';

.resume{
    background-color: $color-pallete-2;
    color: white;
    font-weight: bold;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.resume:hover{
    background-color: $color-pallete-1;
}

.title{
    font-size: 30px;
    padding-bottom: 1vh;
    border-bottom: 1px solid $color-pallete-1;
    color: $color-pallete-1;
}

.company{
    display: flex;

    .subtitle{
    margin-left: 5%;
    }

    .city{
        font-weight: lighter;
    }
}
