@import '../styles/global';
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: $color-pallete-1;

    .link {
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;

      
    }

    .home a {
      font-size: 23px;

      &:hover {
        color: $color-pallete-2;
      }
    }

    ul {
      list-style: none;

      li{
        display: inline-block; 

        a{
          text-decoration: none;
          color:white;
          padding: 8px 20px;
          margin-right: 5px;
          border-radius: 7px;
          transition: all .3s ease;

          &:hover{
          background: $color-pallete-2;
          color: $color-pallete-1;
          }
        }
      }
      .active{
          background: $color-pallete-2;
          color: $color-pallete-1;
        }
    }

}

#icon {
  height: 28px;
  width: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  hr{
    width: 100%;
    margin: 0;
  }
}

.checkbox,#icon{
  display: none;
}


@media screen and (max-width: 768px) {
  .container{
    ul{
      position: absolute;
      width: 100%;
      height: 50vh;
      background-color: $color-pallete-1;
      left: 0;
      top: 0;
      text-align: center;
      display: none;
      margin-top: 55px;

      li{
        margin-right: 10%;
        display: block;
        padding: 10px 15px;

        a{
          display: block;
          padding: 10px 0;
        }
      }
    }
    
    #icon{
      position: absolute;
      width: 5%;
      right: 0;
      display: flex;
      margin-right: 3%;
    }
  }
  .checkbox:checked~ul{
    display: block;
  }
}
