@import '../styles/global';

.container {
  height: 5vh;
  margin: 0;
  right: 0;
  padding-top: 0;
  margin-top: 0;
  background-color: aqua;
  display: flex;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .other{
    margin-right: 3vw;
  }

  .home{
    margin-left: 3vw;
  }


  .button {
    background-color: $color-pallete-1;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    height: 30px;
    min-width: 15px;
    line-height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    
    margin-bottom: 10px;

      &:hover {
        background-color: $color-pallete-2;
      }

  }

  .button-icon {
    @extend .button;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-github {
    @extend .button-icon;
    background-image: url('../images/github.png');
    
  }

  .button-twitter {
    @extend .button-icon;
    background-image: url('../images/twitter.png');
    margin-right: 0px;
  }

  .button-linkedin {
    @extend .button-icon;
    background-image: url('../images/linkedin.png');
  }

  .link {
    color: $color-pallete-1;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $color-pallete-2;
    }

    &:not(:last-child) {
      padding-right: 30px;
    }

  }

}

@media screen and (max-width: 768px){
  .container{
    display: none;
  }
}